[2019-05-09 07:10] liangzimei opened #16 "tf serving using mkl dnn has longer lantecny"
i follow the [installation guide](https://github.com/IntelAI/models/blob/master/docs/general/tensorflow_serving/InstallationGuide.md) to serve a resnet-v1 model. The client is [resnet_client_grpc.py](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/resnet_client_grpc.py).
i record the time of `result = stub.Predict(request,10.0)` as one reqeust's lantecy

| serving | mk

[2019-05-09 08:44] liangzimei commented on #16
Then i set TensorFlow Serving Configuration Settings following  [GeneralBestPracticesddd](https://github.com/IntelAI/models/blob/master/docs/general/tensorflow_serving/GeneralBestPractices.md).  The difference becomes smaller, but sering with mkl-dnn  still performs worse.

[2019-05-14 06:44] ghost opened #17 "Where can I get model file ssd_resnet34_bs1.pb"
Where can I get model file ssd_resnet34_bs1.pb?

[2019-05-22 15:00] delock opened #18 "ml-20M checkpoint for NCF"
Is there a ML-20M checkpoint for NCF?  I see there is one for ML-1M

[2019-05-23 16:55] dmsuehir commented on #17
@kubowuhao The pretrained model for SSD-ResNet 34 has been posted here: `https://storage.googleapis.com/intel-optimized-tensorflow/models/ssd_resnet34_fp32_bs1_pretrained_model.pb`. The README file will be updated with this link in our next release.

Thanks!

[2019-05-23 17:11] karthikvadla commented on #16
@liangzimei Can you please let me know how you are building TFserving image, which version you are using? `Tensorflow Serving == 1.13` or `master`? With master we some performance issues.

[2019-05-23 22:16] karthikvadla commented on #16
@liangzimei can you share me exact script you used to track the latency, i'm trying to reproduce same at my end.

[2019-05-30 20:51] karthikvadla commented on #16
Hi @liangzimei , I tested out below two scenarios with latest master branch of tensorflow serving [repo](https://github.com/tensorflow/serving).

*NOTE:* Currently master branch is broken with `builtin` modules missing error. Ebi, created a [patch](https://github.com/tensorflow/serving/pull/1367) to fix it. So it did use patch to build docker images.

### Clone Tensorflow Serving
[code]

### Build

[2019-05-31 16:26] karthikvadla commented on #16
Closing this issue, we don't see any problems. Please feel free to open, if you still see issue. Please provide complete steps to re-produce.

[2019-05-31 16:26] #16 closed

[2019-06-05 16:30] dmsuehir commented on #18
@delock We don't have ML-20M checkpoints at this time.

[2019-06-05 16:30] dmsuehir commented on #17
@kubowuhao Has your issue been resolved?

[2019-06-06 07:54] Leslie-Fang opened #20 "The scripts didn;t provide "--steps" parameters out"
Hi,
I am running RN50 workloads, and I want to set the "--steps=1000" parameter with the scripts of
models/benchmarks/launch_benchmark.py
My command would be:
python models/benchmarks/launch_benchmark.py --in-graph /root/rsn50_frozen_max_min.pb --model-name resnet50 --framework tensorflow --precision int8 --mode inference --batch-size=1 --socket-id 0 --benchmark-only --docker-image tensorflow/tens

[2019-06-06 08:09] Leslie-Fang commented on #20
Need to add this parameter:
--warmup_steps=50 steps=500

[2019-06-06 08:09] #20 closed

[2019-06-06 16:53] karthikvadla commented on #20
There should be `space` between `--` and `warmup_steps`. These are extra args to the model so should be given at the end with `--` and space. Please see below example

[code]

[2019-06-07 02:59] Leslie-Fang opened #21 "KMP thread questions about RN50"
When I am running the RN50 models:
[code]
I see the KMP output:
[code]
why the same tid number:67144 would generate two threads?

[2019-06-12 06:11] luvclear opened #22 "About the OPM_NUM_THREADS"
i tried to change OMP_NUM_THREADS to determine how it would affect the CPU performance
by changing EXPORT OMP_NUM_THREADS=''
however the outcome seemed to be unchanged, and i found the follow in the information:
User settings:
   KMP_AFFINITY=granularity=fine,verbose,compact,1,0
   KMP_BLOCKTIME=1
   KMP_SETTINGS=1
   OMP_NUM_THREADS=16

the OMP_NUM_THREADS never change
so how can i change it?

[2019-06-12 16:26] karthikvadla commented on #22
Are you trying to use `launch_benchmark.py` script??? IF so, use something like below
[code]

[2019-07-25 22:47] hubertdelassus opened #29 "launch_benchmark.py : ImportError: No module named 'object_detection'"
When running python launch_benchmark.py \
    --data-location /home/user/coco/output/ \
    --in-graph /home/user/ssd_resnet34_fp32_bs1_pretrained_model.pb \
    --model-source-dir /home/user/tensorflow/models \
    --model-name ssd-resnet34 \
    --framework tensorflow \
    --precision fp32 \
    --mode inference \
    --socket-id 0 \
    --batch-size=1 \
    --docker-image gcr.io/deeplearning-p

[2019-07-29 03:32] Leslie-Fang opened #30 "How to set the git proxy"
When running the ssd-restnet34 benchmark:
[code]

it will clone the
[code]
in the start.sh

However, in my case I need to set some git proxy:
[code]

otherwise, it will fail with the error message:
_Cloning into 'benchmarks'...
fatal: unable to access 'https://github.com/tensorflow/benchmarks.git/': gnutls_handshake() failed: The TLS connection was non-properly terminated.
start.sh: line 654: cd:

[2019-07-29 07:22] Leslie-Fang commented on #29
I can reproduce this issue:
_Traceback (most recent call last):
  File "/tmp/benchmarks/scripts/tf_cnn_benchmarks/preprocessing.py", line 1072, in create_dataset
    import ssd_dataloader  # pylint: disable=g-import-not-at-top
  File "/tmp/benchmarks/scripts/tf_cnn_benchmarks/ssd_dataloader.py", line 27, in <module>
    from object_detection.box_coders import faster_rcnn_box_coder
ImportError: No

[2019-07-29 15:06] hubertdelassus commented on #29
I figured out that in step 1 of the instructions you git clone https://github.com/tensorflow/models.git
hence creating a directory "models". In step 6  you git clone https://github.com/IntelAI/models.git creating another "models" directory. These two directories should be renamed ~/tensorflowmodels and ~/IntelAImodels and kept independent of each other. This solution solves the "no module name obj

[2019-07-30 05:43] Leslie-Fang commented on #29
@hubertdelassus  Thanks, after taking your suggestion, it do solve the problem.
But why do you need to load the raw jpg images when running the inference?

[2019-07-30 05:51] Leslie-Fang commented on #30
Workaround is to set the proxy inside the docker container, and commit to a new docker image

[2019-07-30 05:51] #30 closed

[2019-07-30 15:31] hubertdelassus commented on #29
Hi,
The instructions for accuracy measurements state to run:

python launch_benchmark.py
--data-location /home/user/coco/output/
--in-graph /home/user/ssd_resnet34_fp32_bs1_pretrained_model.pb
--model-source-dir /home/user/tensorflow/models
--model-name ssd-resnet34
--framework tensorflow
--precision fp32
--mode inference
--socket-id 0
--batch-size=1
--docker-image gcr.io/deeplearning-platform-rel

[2019-07-30 16:50] dmsuehir commented on #22
@luvclear Did Karthik's response resolve your issue with being able to set the env vars?

[2019-07-31 07:02] Leslie-Fang commented on #29
@hubertdelassus
Find a solution to solve the problem, please refer to this issue: https://github.com/tensorflow/benchmarks/issues/408
and the pr request:
https://github.com/tensorflow/benchmarks/pull/409

[2019-07-31 09:06] Leslie-Fang commented on #29
@hubertdelassus
Find the root cause,
In the BKM, it suggest to use this commit id:7a9934df2afdf95be9405b4e9f1f2480d748dc40
of create_coco_tf_record.py to convert the data into tfrecord format.
However, in this commit-id, it use filename(*.jpg) as source-id.
[code]
That's why our benchmark failed at StringToNumberOp .

The latest create_coco_tf_record.py  will use image_id as the source-id.
[code]

[2019-08-01 00:48] hubertdelassus opened #32 "launch_benchmark.py: ImportError: No module named 'pycocotools._mask'"
When running python launch_benchmark.py
--data-location /home/user/coco/output/
--in-graph /home/user/ssd_resnet34_fp32_bs1_pretrained_model.pb
--model-source-dir /home/user/tensorflow/models
--model-name ssd-resnet34
--framework tensorflow
--precision fp32
--mode inference
--socket-id 0
--batch-size=1
--docker-image gcr.io/deeplearning-platform-release/tf-cpu.1-14
--accuracy-only
I get an error:

[2019-08-01 00:53] hubertdelassus opened #34 "launch_benchmark.py error dataset file not found"
When running python launch_benchmark.py
--data-location /home/user/coco/output/
--in-graph /home/user/ssd_resnet34_fp32_bs1_pretrained_model.pb
--model-source-dir /home/user/tensorflow/models
--model-name ssd-resnet34
--framework tensorflow
--precision fp32
--mode inference
--socket-id 0
--batch-size=1
--docker-image gcr.io/deeplearning-platform-release/tf-cpu.1-14
--accuracy-only
I get an error:

[2019-08-01 00:54] Leslie-Fang commented on #29
@hubertdelassus
Hi, Have you tried this suggestion? Does it work?
I have made a update of the BKM in this PR: https://github.com/IntelAI/models/pull/33
Could you help to have a look?

[2019-08-01 07:19] Leslie-Fang commented on #32
@hubertdelassus
you need to install CPython firstly. then build the proto files.

[2019-08-01 13:24] tiejun2sh opened #35 "mount path is not set in function inceptionv4"
Other than other functions, i see mount path like following is not set for function inceptionv4
export PYTHONPATH=${PYTHONPATH}:$(pwd):${MOUNT_BENCHMARK}

I would think it is required and i encounter some issue with my docker image,  may the path be added?

models/benchmarks/common/tensorflow/start.sh
function inceptionv4() {
--
  | # For accuracy, dataset   location is required
  | if [ "${DATASE

[2019-08-01 15:25] hubertdelassus commented on #29
Thanks Leslie for addressing this issue in a diligent manner. I tested the fix and the images are now read properly. However the resnet34-ssd benchmark script in accuracy-only still fails when starting inference. I opened another ticket for this separate issue.

[2019-08-01 16:50] hubertdelassus commented on #32
The issue is that the benchmark script requires python2.7.
Python2.7 which will generate _mask.so when compiling cocoapi/PythonAPI, while python3.6 will generate _mask.python36m_x86_64.so which will not be recognised by the script.

To use Python2.7 on Centos7 you have to:
(1) Create a python2.7 virtual environment.
(2) Install Tensorflow from sources with python2.7 bindings (including bazel)
(3)

[2019-08-02 01:27] hubertdelassus commented on #32
After installing Tensorflow with python2.7 bindings and running benchmark with python2.7 I am able to read _mask.so.
However I get another error immediately after reading the library:
File "/workspace/models/research/pycocotools/mask.py", line 3, in <module>
    import pycocotools._mask as _mask
ImportError: /workspace/models/research/pycocotools/_mask.so: undefined symbol: _Py_ZeroStruct
The same

[2019-08-02 02:14] hubertdelassus commented on #32
The BKM states that python 2.7 is the required python version. However, running the benchmark under python 2.7 with Tensorflow compiled with python 2.7 bindings, docker creates in ~/Tensorflowmodels/models/research/pycocotools a directory __pycache__  filled with python3.5 files:
coco.cpython-35.pyc  __init__.cpython-35.pyc  mask.cpython-35.pyc
The mismatching python versions generate:
ImportError

[2019-08-02 17:50] hubertdelassus opened #36 "launch_benchmark.py : ImportError: No module named 'object_detection' with INT8 accuracy only"
This issue is different from ticket# 29
When running python launch_benchmark.py
--data-location /home/user/coco/output/
--in-graph /home/user/ssd_resnet34_int8_bs1_pretrained_model.pb
--model-source-dir /home/user/tensorflow/models
--model-name ssd-resnet34
--framework tensorflow
--precision int8
--mode inference
--socket-id 0
--batch-size=1
--docker-image gcr.io/deeplearning-platform-release/tf-c

[2019-08-13 15:11] mohammedayub44 opened #37 "Bazel Build fails on Ubuntu 16.04 - No such target log_severity"
Hi,

I'm trying to build the the Intel Optimized Binaries for Tensorflow Serving on my Ubuntu 16.04 machine.  I ran into the below error  `no such target '@com_google_absl//absl/base:log_severity'`

![image](https://user-images.githubusercontent.com/7122670/62952964-a6b5a680-bdba-11e9-82fb-2adc269f4e17.png)

I'm running the below command -
`docker build -t $USER/tensorflow-serving-devel-mkl -f /ho

[2019-08-20 21:52] andportnoy opened #38 "Confusing command line argument conventions are used in different files"
Different files use different word separation conventions, which results in the arguments being parsed incorrectly.

E.g. some files specify `--num_intra_threads`, while others use `--num-intra-threads`. A single convention should be used.

[2019-09-05 16:36] dmsuehir commented on #17
Closing this issue, since the pretrained model file has been provided and the SSD-ResNet34 README was updated with the link.
https://github.com/IntelAI/models/blob/master/benchmarks/object_detection/tensorflow/ssd-resnet34/README.md

[2019-09-05 16:36] #17 closed

[2019-11-20 04:55] datbu178 opened #40 "Set batching parameters"
How can i enable batching and set batching parameters (max_batch_size, batch_timeout_micros,...) when run tensorflow model server with docker? Thanks...

[2019-11-20 08:19] HuaizhengZhang opened #41 "Unable to find image 'gcr.io/deeplearning-platform-release/tf-cpu.1-14:latest' locally docker: Error response from daemon: Get https://gcr.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)."
Is this docker image broken now?

[code]

[2019-12-10 02:30] chuanqi129 commented on #41
It seems caused by your proxy setting. can you try `docker pull intelaipg/intel-optimized-tensorflow:1.14.0-mkl-py3`

[2020-01-23 22:35] athun001 opened #42 "Incorrect type specified in Object Detection Tutorial"
Object Detection with SSD-VGG16

Replace os.environ["OMP_NUM_THREADS"]= 11
with os.environ["OMP_NUM_THREADS"]= "11"

[2020-02-05 12:18] poussa opened #43 "Tensorflow 2.x support"
When are you planning to add support for TF 2.x versions in the `launch_benchmark.py` ?

[2020-02-22 16:28] chuanqi129 commented on #43
Hi @poussa, we are preparing release next version with TF 2.x versions support before end of March.

[2020-03-14 01:24] kkasravi opened #44 "dead code and ignored cli option for framework in launch_benchmark.py"
when trying to run w/o docker (bare-metal) the method run_bare_metal has this code
[code]
which can't be entered because validate_args rejects -f tensorflow_serving

[2020-04-23 08:36] zqyjixiang opened #48 "Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 AVX512F FMA"
Hi,
I followed the instructions in [Wide & Deep](https://github.com/IntelAI/models/tree/master/benchmarks/recommendation/tensorflow/wide_deep_large_ds) and run test successfully, but saw below messages:

[code]

Is this correct behavior or tf bug?
I have tried *pip install intel-tensorflow==1.15* and didn't see this message. The instructions in  [Wide & Deep](https://github.com/IntelAI/models/tree

[2020-04-23 09:13] zqyjixiang commented on #48
BTW, inner docker, I double confirmed with below command, as it said, MKL was enabled. Looks something wrong for the confusing message.
This model zoo is really nice. Please check it. Thanks a lot.
![image](https://user-images.githubusercontent.com/19850328/80080970-ea38f500-8584-11ea-8cc9-15e0a63fa304.png)

[2020-05-04 23:57] dev2y opened #50 "TF 2.x support"
Just wanted to follow up the issue #43
Do you have any ETA?

[2020-05-11 00:31] #50 closed

[2020-06-03 20:34] githubsgi opened #53 "language_modeling missing from master"
Hi, I see that language_modelling is in tag 1.6.1 but missing from master.  What is the reason behind that ?

https://github.com/IntelAI/models/tree/v1.6.1/models/language_modeling/tensorflow/bert_large/training/fp32

[2020-08-13 06:24] priyankasebastian opened #61 "Distributed Training for FP32 Resnet50_v1.5 exited on signal 11 (Segmentation fault)"
Job was launched outside the container with the following environment setup: centos7  ,openmpi 3.1.4 ,intel-tensorflow2.1.0 , horovod==0.19.5 on a Python3.6 virtual environment.  ( Same setup worked for Int8 and FP32 inference). However, Distributed training is exiting with Segmentation fault. Is this a known issue?

Attaching full log here:
[benchmark_resnet50v1_5_training_fp32_20200812_143606.lo

[2020-08-18 09:18] zhao1157 opened #62 "The latest docker image was not compiled to use AVX2 AVX512F FMA"
I pulled the latest tensorflow image `docker pull intel/intel-optimized-tensorflow`, and found the following meassage at the beginning of running a script:

`2020-08-18 08:52:56.002977: I tensorflow/core/platform/cpu_feature_guard.cc:143] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 AVX512F FMA`

Through some research, it seems the only way to work aroun

[2020-08-20 09:11] zhao1157 opened #63 "NGC TensorFlow image performs better than Intel-optimized TensorFlow image on Xeon(R) Gold 6242"
I tested NGC tf image performance by running Bert-base, and found its performance better than Intel-optimized tf image with the recommended environment variables set by about 5s/10examples. Interestingly NGC container does not need setting these environment variables and gives better performance. Similar phenomenon is observed in Resnet50. Is there a reason for that?

[2020-08-21 02:42] zhao1157 commented on #63
One cause might be the utilization of threads in the two images. Through tf profiling, I found that NGC container invokes lots of threads while intel container only uses 2-3 threads.

[2020-08-24 04:13] wei-v-wang commented on #62
A subset of the released docker containers were compiled to use AVX512.
Can you try: intel/intel-optimized-tensorflow:tensorflow-2.2-bf16-rn50-nightly?
It works for FP32 as well.

[2020-08-24 10:49] zhao1157 commented on #62
@wei-v-wang Thanks for your suggestion. Later I found this [https://www.intel.com/content/www/us/en/artificial-intelligence/posts/improving-tensorflow-inference-performance-on-intel-xeon-processors.html](url), which says

So it sounds like I can just neglect that compiling message. Right?

[2020-08-24 10:51] #63 closed

[2020-08-24 17:50] wei-v-wang commented on #62
@zhao1157  Yes, the compiling message only affects the portions of code that are not running with oneDNN (previously called Intel MKL-DNN).

[2020-08-25 00:42] #62 closed

[2020-08-25 09:32] zhao1157 opened #64 "How does TensorFlow handle the situation of running a training with BF16 on a CPU which does not support it?"
I compared the performance of training with `fp32` and `bf16` on a CPU which does not support `bf16`. Interestingly, the training managed to finish with `bf16`, though the performance was much worse than `fp32`. I also did a similar test for `fp16`, whose performance was also worse than `fp32`. Since the CPU does not support `fp16` or `bf16`, I am very interested to know how TensorFlow handles suc

[2020-08-26 23:09] claynerobison commented on #64
@agramesh1  or @wei-v-wang can you comment here?

[2020-08-26 23:24] ashahba commented on #61
@priyankasebastian Thanks for reporting this.
We are looking into it.

[2020-08-26 23:28] ashahba commented on #53
@githubsgi this is back in `master` now.
Please let me know if that works so we can close the ticket.

[2020-08-26 23:32] ashahba commented on #48
For backward compatibility we build our containers with only `avx`. For now I'd just ignore those warnings.

Our team is in the process releasing `avx512` images, so the warning should go aways after TensorFlow `v2.3` release.

[2020-08-26 23:33] ashahba commented on #43
@poussa Intel Model Zoo v1.8.0 supports TensorFlow `v2.2.0`.

[2020-08-26 23:41] agramesh1 commented on #64
Native BF16 is only available in the 3rd Gen Xeon scalable (Cooperlake), on previous generations processors (with AVX512) it is supported through AVX512 instructions and the performance will be much lower than FP32.  It mainly intended for development purposes.

[2020-08-26 23:45] louie-tsai commented on #48
Hi
There is also an old issue related to this question, and I put the link below for your reference.
https://github.com/IntelAI/models/issues/62

Overall, Intel Tensorflow will leverage oneDNN(MKL-DNN) for major DL operations, and oneDNN use JIT kernel to generate the best kernels for you.

If you enable oneDNN verbose log, you can actually see whether you use the AVX512 or AVX2 for your models.

[2020-08-27 00:59] #64 closed

[2020-08-27 00:59] zhao1157 commented on #64
Thank you very much for your comment.

[2020-08-27 01:04] wei-v-wang commented on #64
If you or your university is interested to try out Intel's 3rd Gen. This might help you get some trial access to Intel's latest SW (oneAPI, including TF) & HW (including latest gen Xeon processors): https://intelsoftwaresites.secure.force.com/devcloud/oneapi

[2020-08-27 01:11] zhao1157 commented on #64
@wei-v-wang Thank you so much for this great link! I will give it a go later.

[2020-08-27 06:07] #48 closed

[2020-08-27 16:05] Kmannth commented on #61
@ashahba

We were able to run for over 10 hours without issue with:
Intel Model Zoo 1.8.0
OpenMpi 1.10.7
Intel TensorFlow 2.2
Intel Python 3 2020.2-902
Horovod 1.19.5

It seems like we have passed this segfault issue.

[2020-08-28 05:04] #43 closed

[2020-08-28 05:05] ashahba commented on #41
Closing this due to lack of activity and response from user.

[2020-08-28 05:05] #41 closed

[2020-09-19 21:37] ashahba commented on #61
Thanks @Kmannth for the update.

By the way we just released `v1.8.1` which support TensorFlow `v2.3`.
@priyankasebastian Please let me know if this is still an issue for you, otherwise feel free to close the ticket.

Thanks.

[2020-09-19 21:40] ashahba commented on #44
@kkasravi Thanks for filing this.

`TensorFlow Serving` is re-enabled again with `v1.8.0` release.
Feel free to update and close the ticket if this is no longer an issue with `v1.8.0` and newer releases.

[2020-09-19 21:53] ashahba commented on #42
Hi @athun001 thanks for filing this issue.

The `SSD-VGG16` is no longer supported in our main branch and the current references of `OMP_NUM_THREADS` don't seem to have that issue.

Feel free to review and close this ticket if that is the cose.

[2020-09-19 22:00] ashahba commented on #37
Hi @mohammedayub44 thanks for filing this issue.
A lot has changed since you filed this.
Would you let us know if this works now? By the way our supported OS is `Ubuntu 18.04` as of now.

[2020-09-21 23:37] priyankasebastian commented on #61
Thankyou @ashahba for the quick response and help. This issue was resolved when we switched to newer release:
Intel Model Zoo 1.8.0
OpenMpi 1.10.7
Intel TensorFlow 2.2

[2020-09-21 23:37] #61 closed

[2020-11-13 08:19] lizhen2017 opened #67 "How can I export a optimized wide and deep model?"
Categorical columns are optimized by removing redundant and unnecessary OPs. The left portion of Figure 2 contains the unoptimized portion of the graph. These are optimized as described below:
The Expand Dimension, GatherNd, NotEqual, and Where OPs that are used to get a non-empty input string of the required dimension are removed as they are redundant for the current dataset.
Error checking and h

[2020-11-16 23:14] #53 closed

[2020-11-16 23:14] #44 closed

[2020-11-16 23:15] #42 closed

[2020-11-16 23:18] #37 closed

[2020-11-16 23:19] #38 closed

[2020-11-16 23:22] #36 closed

[2020-11-16 23:31] #34 closed

[2020-11-16 23:35] #22 closed

[2020-11-16 23:38] #18 closed

[2021-01-04 21:41] dmsuehir commented on #32
We recently released a [model workload container for SSD-ResNet34 FP32 inference](https://software.intel.com/content/www/us/en/develop/articles/containers/ssd-resnet34-fp32-inference-tensorflow-container.html). This container has all the code, dependency code/installs, and pretrained models that are needed to run the model. All that you'll need to provide is the path to the [preprocessed COCO data

[2021-01-04 23:15] dmsuehir commented on #29
We recently released model workload containers for SSD-ResNet34 [FP32](https://software.intel.com/content/www/us/en/develop/articles/containers/ssd-resnet34-fp32-inference-tensorflow-container.html) and [Int8](https://software.intel.com/content/www/us/en/develop/articles/containers/ssd-resnet34-int8-inference-tensorflow-container.html) inference. These containers have all the code, dependency inst

[2021-01-05 17:52] paulgavrikov opened #70 "What dataset are these models pretrained on?"
Could you please tell me what dataset the following models are pretrained on?

- SSD-MobileNet (dataset combinedNMS?) https://github.com/IntelAI/models/tree/master/benchmarks/object_detection/tensorflow/ssd-mobilenet
- SSD-ResNet34 https://github.com/IntelAI/models/tree/master/benchmarks/object_detection/tensorflow/ssd-resnet34
- UNet https://github.com/IntelAI/models/tree/master/benchmarks/image_

[2021-01-06 07:12] snehak11 commented on #67
Feature column optimization script is used for graph level optimization. We have different methods to optimized different kind of feature columns. For categorical column with hash bucket you can use the corresponding method   def optimize_categorical_embedding_with_hash_bucket(). Here is the link of the code you can look into
https://github.com/IntelAI/models/blob/master/models/recommendation/tens

[2021-01-07 01:07] dmsuehir commented on #21
This issue should be harmless, but there is a fix on the way (expected with TF 2.4). I'll update this post again once I'm able to verify it.

[2021-01-14 04:39] dcyoung opened #71 "Possibility of updated MKL docker image on latest 2.4.0"
I've been leveraging the latest tag from dockerhub `intel/intel-optimized-tensorflow-serving:2.3.0-mkl` to deploy some tensorflow GPU models on CPU, which cannot run on vanilla tensorflow cpu. However, for other reasons we must migrate to tensorflow serving 2.4 which was released a month ago.

Can we expect a newer version of the optimized docker image => `intel/intel-optimized-tensorflow-serving:

[2021-02-04 00:21] ashahba commented on #71
@dcyoung I'm, assigned to work on this ticket which is really just fixing the issue you reported on TensorFlow serving and will keep you posted once I have a fix.

[2021-02-12 09:29] AlexKoff88 opened #73 "INT8 model source"
Hi,

I have a question regarding quantization. How to get a model in 8-bits representation, like [MobileNet v1 INT8](https://github.com/IntelAI/models/tree/master/models/image_recognition/tensorflow/mobilenet_v1/inference/int8)?

Is it possible to convert a model to such representation that was trained with TF Quantization-Aware Training and contains FakeQuantizeWithMinMax nodes?

[2021-02-16 06:26] AlexKoff88 commented on #73
Can anybody answer my questions?

[2021-02-16 06:35] mlukasze commented on #73
Hi @AlexKoff88 , sorry you has to wait.

To use Mobilenet v1 int8 you can simply use out of the [box container](https://software.intel.com/content/www/us/en/develop/articles/containers/mobilenetv1-int8-inference-tensorflow-container.html) or simple [model itself](https://software.intel.com/content/www/us/en/develop/articles/containers/mobilenetv1-int8-inference-tensorflow-model.html).

All other p

[2021-02-16 07:48] AlexKoff88 commented on #73
@mlukasze, thanks for the reply!

But if I already have my custom model trained with Tensorflow Quantization-Aware Training. How cat I export it to the INT8 representation that your benchmark can run?

[2021-02-16 07:50] mlukasze commented on #73
@AlexKoff88 please start with [LPOT](https://github.com/intel/lpot) and contact with dev team if something will be not explained enough in docs.

[2021-02-16 07:58] AlexKoff88 commented on #73
ok, thanks.

[2021-02-16 07:58] #73 closed

[2021-02-19 22:10] dmsuehir commented on #21
@Leslie-Fang  I just tried this using the TF 2.4 container (`intel/intel-optimized-tensorflow:2.4.0`) and I see different tids for each thread with resnet50.

[code]

[2021-02-22 22:33] ashahba commented on #71
A PR is posted here to fix this issue:
https://github.com/tensorflow/serving/pull/1818

[2021-03-09 22:39] jaidayal opened #75 "How to run these w/out docker?"
Is there anyway to run these benchmarks without Docker? Many of us on HPC clusters don't use docker because we want as minimal and noise-free environment as possible. Being able to run w/out docker and containers helps that.

[2021-03-10 01:43] jaidayal opened #76 "Downloading the dataset"
The link you've posted to download the dataset is broken. Furthermore, even after figuring out the right url, trying to download the 2012 dataset is nearly impossible; endless circular links leading nowhere.

Is inceptionv3 maintained or is it a dead benchmark?

[2021-03-10 15:36] shailensobhee opened #77 "URL link in Readme is broken"
From this README, at the end, there is a table:
https://github.com/IntelAI/models/blob/master/docs/general/tensorflow/LaunchBenchmark.md

Under the column "Run from the Model Zoo repository", most FP32 urls are broken. You may wish to check other URLs from the README and update them.

[2021-03-19 21:11] dmsuehir commented on #75
@jaidayal We have instructions for running the launch_benchmark.py script without docker here: https://github.com/IntelAI/models/blob/master/docs/general/tensorflow/LaunchBenchmark.md#running-the-launch-script-on-bare-metal
In general, you'll need to make sure that your environment has all of the dependencies installed and leave out the `--docker-image` flag when you run the script.

We also have

[2021-03-19 21:30] jaidayal commented on #75
Okay, the Launch Benchmark script invokes a series of other scripts, which ultimately invoke the one that runs the actual application. If I am going to put something like numactl (or a separate launcher for a custom OS like mcexec) how would I do that? Ultimately, I want to run just the application and not a whole bunch of intermediary scripts.

[2021-03-19 21:43] dmsuehir commented on #75
@jaidayal You could call the model script directly to bypass launch_benchmark.py. If you already have a launch_benchmark.py command that's working you can run that command with `--verbose` and that prints out a bunch of extra info including the actual model script command.

For example if I run:
[code]
Toward the end of the log file, there's a line that says `Running:` followed by the model comman

[2021-03-22 16:33] dmsuehir commented on #75
Hi @jaidayal

Has your question from this issue been resolved? If so, can we close this issue?

Thanks,
Dina

[2021-03-22 16:34] #75 closed

[2021-03-22 16:34] #76 closed

[2021-03-22 16:37] dmsuehir commented on #76
In case this issue comes up again, the issue is with ImageNet's website. After logging in, it takes the user to the wrong location, and the user needs to correct the URL to go to the "2012" download page. This is already mentioned in our [imagenet instructions README](https://github.com/IntelAI/models/blob/master/datasets/imagenet/README.md) and that URL fix resolved the issue for Jai.

[2021-03-23 13:20] rkazants opened #78 "Need clarification upon Wide&Deep model input shapes"
I received W&D model for enabling inference using OpenVINO but I encounter inconsistency in the model: GatherND in the beginning generates output shape that is unacceptable by Reshape. Could you please tell what input shapes are expected for _new_categorical_placeholder_ and _new_numeric_placeholder_ are needed? For example, I tried to use shapes equal to [2,1] with no success.

[2021-03-25 19:58] rkazants commented on #78
@dmsuehir, could you or your colleagues please help with my question?

[2021-03-25 20:00] dmsuehir commented on #78
@rkazants I don't know the answer to your question, but I'll try to find someone who can help

[2021-03-25 21:42] dmsuehir commented on #78
@rkazants I've emailed you to connect you with someone.

[2021-03-26 23:51] dmsuehir commented on #77
Thanks @shailensobhee. These will get fixed in our next release.

[2021-04-22 16:20] jeyblu opened #79 "error running bert following steps on IntelAI/models"
Running launch_benchmark.py on bert had an error following the steps on the IntelAI/models [repo](https://github.com/IntelAI/models/tree/master/benchmarks/language_translation/tensorflow/bert
).

`tensorflow.python.framework.errors_impl.NotFoundError: /home/m/data/MRPC/train.tsv; No such file or directory`

[2021-05-14 08:53] houyushan opened #81 "I had a mistake when I ran tensorflow with multiple nodes"
hi,
I had a mistake when I ran tensorflow with multiple nodes

This is my order：

python launch_benchmark.py \

This is the error encountered：

    SOCKET_ID: -1
    MODEL_NAME: resnet50v1_5
    MODE: training
    PRECISION: fp32
    BATCH_SIZE: -1
    NUM_CORES: -1
    BENCHMARK_ONLY: True
    ACCURACY_ONLY: False
    OUTPUT_RESULTS: False
    DISABLE_TCMALLOC: True
    TCMALLOC_LARGE_ALLOC_REPOR

[2021-05-27 20:48] dmsuehir commented on #21
Closing since it's been over 90 days with no activity

[2021-05-27 20:48] #21 closed

[2021-05-27 20:48] dmsuehir commented on #29
Closing since it's been over 90 days with no activity

[2021-05-27 20:48] #29 closed

[2021-05-27 20:49] dmsuehir commented on #32
Closing since it's been over 90 days with no activity

[2021-05-27 20:49] #32 closed

[2021-06-07 12:24] 0400H opened #82 "Add wide&deep model support for Tensorflow Serving？"
When I tried to serve the model to [tensorflow serving](https://github.com/tensorflow/serving), but fount it is no support in the [link](https://github.com/IntelAI/models/tree/master/benchmarks)

So I try to write the client and encounter a similar [issue](https://github.com/IntelAI/models/issues/78) after deployed model to tf-serving .

Are there any plans to add wide&deep model support for tenso

[2021-06-15 14:27] zhixingheyi-tian opened #83 "How to evaluate the performance number of Bert-Large training"
I encountered some confusion when I followed the guide--https://github.com/IntelAI/models/tree/master/benchmarks/language_modeling/tensorflow/bert_large to run training workload.

Running command:

[code]
Result:

[code]
I didn’t see the “throughput((num_processed_examples-threshod_examples)/Elapsedtime)” information like inference workload  from the training log. I also read the script code: mode

[2021-06-15 17:22] dmsuehir commented on #83
The BERT large squad training log will have values like `INFO:tensorflow:examples/sec: ...`. This number can be multiplied by the number of MPI processes (in your example, that's 2 since you have `--mpi_num_processes=2`) to get the total examples per second.

[2021-06-15 17:27] dmsuehir commented on #82
@0400H  We have a TF serving client for Wide & Deep large dataset here: [run_tf_serving_client.py](https://github.com/IntelAI/models/blob/master/k8s/recommendation/tensorflow/wide_deep_large_ds/training/fp32/run_tf_serving_client.py).

It's used as part of our Kubernetes pipeline that does Wide & Deep large dataset FP32 training (which exports a saved_model.pb) and serves the model, but it should

[2021-06-17 05:53] 0400H commented on #82
@dmsuehir

It has been done through the following link:
[wide_deep](https://github.com/IntelAI/models/tree/master/benchmarks/recommendation/tensorflow/wide_deep)
[wide_deep_fp32_pretrained_model.tar.gz](https://storage.googleapis.com/intel-optimized-tensorflow/models/v1_8/wide_deep_fp32_pretrained_model.tar.gz
)

It also refers to many ancient source codes from other websites, which is really an u

[2021-06-21 22:04] brian-a-scott opened #84 "Inconsistent "permissions" behavior between fp32 vs int8 with Resnet50 model"
try to run models/quickstart/image_recognition/tensorflow/resnet50/inference; both fp32 and int8.
Using wget command to download the .gz file to Documents directory and using tar to unzip the file.
fp32 runs without issues. int8 gives "bash: quickstart/int8_inference.sh: Permission denied".

[2021-06-22 09:06] arthw opened #85 "correct_k = correct[:k].view(-1).float().sum(0, keepdim=True) RuntimeError: view size is not compatible with input tensor's size and stride (at least one dimension spans across two contiguous subspaces). Use .reshape(...) instead."
cd models/models/image_recognition/pytorch/common/
python main.py -d /home/wj/ImageNet/data/all -a resnet50 --epochs 100 --learning-rate 0.1  --print-freq 1 -b 64 –ipex

When pytorch is 1.7 in oneAPI AI toolkit, there is error:
[code]

view is not supported and use reshape to fix it.

[2021-06-25 08:12] zhixingheyi-tian opened #86 "Can not run BERT-Large training successfully on bare metal"
We run BERT-Large training on bare metal ubuntu server. The log have no errors, but also no training logs, it is confusing.

command:
[code]

The log:
[code]
So there are no training result in the log.

@dmsuehir @ashahba  would you please help troubleshoot

Thanks

[2021-06-25 15:50] dmsuehir commented on #84
Thanks @brian-a-scott. This will get fixed in the next release. In the meantime, you can run `chmod +x int8_inference.sh` so that the script can be executed.

[2021-06-25 15:58] brian-a-scott commented on #84
Thanks.
Brian

From: Dina Suehiro Jones ***@***.***>
Sent: Friday, June 25, 2021 8:51 AM
To: IntelAI/models ***@***.***>
Cc: Scott, Brian A ***@***.***>; Mention ***@***.***>
Subject: Re: [IntelAI/models] Inconsistent "permissions" behavior between fp32 vs int8 with Resnet50 model (#84)

Thanks @brian-a-scott<https://github.com/brian-a-scott>. This will get fixed in the next release. In the meanti

[2021-07-01 01:22] zhixingheyi-tian commented on #86
Hi @dmsuehir , do you have ideas for this issue.

Thanks

[2021-07-01 17:59] dmsuehir commented on #86
@zhixingheyi-tian Is this the same issue that's being discussed in the email thread with Wei? It sounded like the next steps were to make sure that you are pip installing `intel-tensorflow` instead of just tensorflow.

[2021-08-02 19:59] dmsuehir commented on #77
@shailensobhee  These links should be working now

[2021-08-03 11:47] siwang2011 opened #87 "Run more docker containters with Inter-optimized-tensorflow on One 8 physical core 16cores Cpu"
hello, I find the inter-optimized-tensorflow has the great increasing on train phase.
but i want to run 3 docker containters in 8 physical core 16cores Cpu, i set every containter with 4 logical core
how i set the param intra_/inter_op_parallelism_threads and OMP_NUM_THREADS?
when one containter runs, the train time cost 17s every epoch, but when i run 3 containters, in every containter the train

[2021-08-04 23:23] manjeetbhatia opened #88 "imagenet data conversion script returns pthread error"
ran
./imagenet_to_tfrecords.sh dataset tpu
to convert imagenet data to tfrecords and returns

2021-05-25 19:50:18.526589: F tensorflow/core/platform/default/env.cc:73] Check failed: ret == 0 (11 vs. 0)Thread creation via pthread_create() fa
iled.
Fatal Python error: Aborted

Thread 0x00007f8d9a57e740 (most recent call first):
  File "/usr/local/lib64/python3.9/site-packages/tensorflow/python/lib/i

[2021-08-09 18:48] #88 closed

[2021-08-26 05:21] zhixingheyi-tian opened #89 "How to distinguish between stock TensorFlow and Intel TensorFlow for 2.5.0 version quickly and conveniently."
How to distinguish between stock TensorFlow and Intel TensorFlow  for 2.5.0 version quickly and conveniently.

@dmsuehir @ashahba Would you please guide this?

[2021-08-29 12:12] DLPerf opened #90 "Performance issue in /models/recommendation/tensorflow (by P3)"
Hello! I've found a performance issue in /wide_deep/inference/fp32/wide_deep_inference.py: `dataset.batch(batch_size)`[(line 192)](https://github.com/IntelAI/models/blob/254b21ad5b77189ef861804c923163acc9909f19/models/recommendation/tensorflow/wide_deep/inference/fp32/wide_deep_inference.py#L192) should be called before `dataset.map(parse_csv, num_parallel_calls=5)`[(line 187)](https://github.com/

[2021-09-03 06:25] Zongru-Wen opened #91 "cannot run ssd_resnet34 int8 model with intel-tensorflow 2.5.0"
Whe I ues **intel-tensorflow==2.5.0** to run SSD_ResNet34 model for inference, it will get an error:

[code]

Then I downgrade the **intel-tensorflow to 2.4.0**, problem solved.

[2021-09-13 18:14] venky-intel commented on #87
Hi @siwang2011, so when you are using the docker container from Intel you can just provide the arguments intra_op_parallelism, inter_op_parallelism and OMP_NUM_THREADS as docker run environment variable args. It would look something like:
`docker run <intel-image-name>
-e intra_op_parallelism=2
-e inter_op_parallelism=2
-e OMP_NUM_THREADS=2
-e KMP_BLOCKTIME=1`

Another thing to note here is, altho

[2021-09-14 03:21] siwang2011 commented on #87
@venky-intel Hi！
thanks for your reply
i want to know what is the constrained resources in my condition And is there any way to solve this problem?
My English is poor, sorry

[2021-09-22 22:16] dmsuehir commented on #90
@DLPerf  Thanks for bringing up the issue. If you'd like to create a PR, that would great.

[2021-09-24 05:32] zhixingheyi-tian commented on #89
@dmsuehir
Thanks very much.

For Stock TensorFlow 2.5.0, if enable os.environ["TF_ENABLE_ONEDNN_OPTS"] = '1', does  it mean completely equivalent to Intel TensorFlow 2.5.0 ,  and does it include all optimizations from Intel TensorFlow?

Thanks

[2021-09-24 15:42] dmsuehir commented on #89
@zhixingheyi-tian  There's a table in the documentation here [https://software.intel.com/content/www/us/en/develop/articles/intel-optimization-for-tensorflow-installation-guide.html](https://software.intel.com/content/www/us/en/develop/articles/intel-optimization-for-tensorflow-installation-guide.html) under the section called "Differences between Intel Optimization for Tensorflow and official Ten

[2021-10-21 17:37] #71 closed

[2021-11-04 16:43] emmacall opened #93 "Several of the data links in benchmarks/.../language translation/.../bert/ are out of date, and the download_glue_data.py script has bugs"
I'm unable to get the data downloaded, following the ReadMe at this link: https://github.com/IntelAI/models/tree/master/benchmarks/language_translation/tensorflow/bert
Particularly at this command: $ python3 download_glue_data.py --data_dir ./data/ --tasks MRPC

There are several bugs in the download_glue_data.py script (e.g you need 'urllib.request.urlretrieve...' rather than 'URLLIB.retrieve'),

[2021-12-07 01:35] Eugene-Mark opened #94 "Error met when running BERT training on multiple nodes"
**Issue:**
/usr/bin/python3 common/tensorflow/run_tf_benchmark.py --framework=tensorflow --
use-case=language_modeling --model-name=bert_large --precision=fp32 --mode=train
ing --benchmark-dir=/dl/intel_train/models/benchmarks --intelai-models=/dl/intel
_train/models/benchmarks/../models/language_modeling/tensorflow/bert_large --num
-cores=-1 --batch-size=32 --socket-id=-1 --output-dir=/dl/intel_t

[2022-01-20 09:29] Peach-He opened #95 "RNNT training on CPU"
Appreciate for the job on supporting RNN-T training on CPU (models/language_modeling/pytorch/rnnt/training/cpu), just quick evaluated the training code and found that WER would keep in 1.00 after even training 10+ epoches.
And I found this issue related on loss function used in training https://github.com/HawkAaron/warp-transducer/issues/93
The grad in cpu is incorrect, is this a know issue? Or ha

[2022-02-08 07:28] kaze31 opened #96 "Patches missing for IntelTensorFlow_PerformanceAnalysis"
# Summary
For functionality of the two jupyter notebooks under oneAPI-samples/AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_PerformanceAnalysis (benchmark_perf_comparison and benchmark_perf_timeline_analysis), the models should be patched to correctly produce timeline .json files. However, many models available in benchmark_perf_comparison don't got their corresponding patches in /op

[2022-03-25 09:56] avinashcpandey opened #98 "Query: Parallel_batches support for CNN and NLP model"
I see WideDeep has parallel batch support where no. of input samples can be broken into N chunks and run parallely.

Eg. if we are giving parallel_batchess 28, inter=28 intra and num_threads=1 for CSL single socket.
Benchmark will launch 28 graph  execution parallely  and each will work on provided BS. Please correct me here.

This is the reference I followed.
https://github.com/IntelAI/models/blo

[2022-05-01 01:51] PLEX-GR00T commented on #89
Does this thing work in Google Colab? I was trying `pip install intel-tensorflow` in the google colab, and it also shows `True` for
 `from tensorflow.python.util import _pywrap_util_port'`
`_pywrap_util_port.IsMklEnabled()`

But, I`do not have GPU access of the Colab afterwards` why? what should I do. It is more slower then usual colab GPU speep.

[2022-05-27 03:45] shuangpe opened #107 "Could you provide the steps for Tensorflow BERT INT8 Inference?"
We want to run Tensorflow BERT INT8 inference, but the link [Tensorflow BERT INT8 Inference](https://github.com/IntelAI/models/blob/master/benchmarks/language_modeling/tensorflow/bert_large/inference/int8/README.md) is invalid.

[2022-05-27 08:05] ktjylsj commented on #88
Hi, I got same error in imagenet_to_gcs.py.
How did you solve this problem? I've checked thread limit and got more than 200. Do I need to limit? or change the codes in imagent_to_gcs.py file?

[2022-06-01 16:00] dmsuehir commented on #107
@shuangpe  BERT large int8 inference isn't supported yet. We'll remove the link. Thanks

[2022-06-01 16:01] #107 closed

[2022-07-05 20:43] mandalrajiv opened #111 "Support for this notebook on Amazon SageMaker"
I tried to use this notebook on Amazon SageMaker. It is not working. From limited analysis, it seems like Amazon SageMaker is based on Amazon Linux Operating System, which is possibly not supported by this notebook. Requesting to investigate how we can make this notebook work on Amazon SageMaker.

[2022-07-27 06:59] aice-support commented on #96
@aice-baton
@kaze31
Thanks for reporting the issue.
This patch issue should be fixed in the below commit.
https://github.com/IntelAI/models/commit/16d1e956f832c6c94ecef44a20299835f3beb21b
please let us know if you still face issue if any.

[2022-07-27 07:01] aice-support commented on #111
@aice-support
Could you share us more details such as what notebooks you mention here?

thanks

[2022-08-01 15:09] rajivmandal123 commented on #111
This is the notebook I was referring to - https://github.com/IntelAI/models/blob/master/docs/notebooks/perf_analysis/benchmark_perf_comparison.ipynb

[2022-08-02 02:19] louie-tsai commented on #111
@rajivmandal123
thanks for your input. We will survey into the Amazon SageMaker support for the notebook.

[2022-08-02 02:20] aice-support commented on #111
@rajivmandal123
thanks for your input. We will survey into the Amazon SageMaker support for the notebook.

[2022-09-01 00:10] merazlab opened #113 "System crash or shutdown in Resnet50 inference"
Thanks Intel AI model team,

I run Image recognition Resnet-50 inference model on Intel ICX machine for batch size=1, numa_core_per_instance=1, precision=FP32 , then after system shutdown automatically, Why?, but some other combination works well.

`https://github.com/IntelAI/models/blob/master/benchmarks/launch_benchmark.py`